{% extends "base.html" %}

{% block title %}Home | Elephant Story!{% endblock %}

{% block content %}
<section>
    <h3 style="color: #ffffff;">Welcome to the Elephant Story!</h3>
    <p class="story-text">Welcome to the elephant interactive story! In this adventure, you control the choices of a brave elephant as it navigates through a mystical cave filled with challenges, secrets, and surprises.</p>
    <p class="story-text">As you progress, you will encounter various paths and loops. Will you retrieve the hidden treasures and make it safely out? Or will you die, your name lost to history? There's only one way to find out!</p>
    <a href="/page?id=1" class="link-button">Click here to embark!</a>
</section>
{% endblock %}