{% extends "base.html" %}

{% block title %}Story Page{% endblock %}

{% block content %}
    <section>
        <p class="story-text">{{ content|safe }}</p>

        {% if ending %}
          <div class="ending">
            <strong>{{ ending }}</strong>
          </div>
        {% endif %}
        
        <ul class="choice-list">
            {% for choice in choices %}
                <li>
                    <a href="{{ choice.route }}" class="button secondary link-button">{{ choice.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
